In [69]:
import pandas as pd

In [70]:
dados = pd.read_csv('..\..\Dados\Raw\dataset_pratica_limpeza_dados.csv')

In [71]:
dados.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [72]:
dados.describe()

         ID Cliente    Unnamed: 16
count    52500.000000          0.0
mean     24995.334610          NaN
std      14418.824423          NaN
min          1.000000          NaN
25%      12514.750000          NaN
50%      24981.500000          NaN
75%      37470.250000          NaN
max      50000.000000          NaN

In [73]:
print(dados.dtypes)

  ID Cliente               int64
NOME COMPLETO!            object
E-mail@Principal          object
 idade                    object
Data de Nascimento#       object
Telefone/Celular          object
CEP (Código)              object
Endereço & Cidade         object
Estado-UF                 object
Salário (R$)              object
Status_da_Conta           object
Score de Crédito%         object
Produto Favorito*         object
Data da Última Compra     object
Valor Total Gasto         object
Categoria-Cliente         object
Unnamed: 16              float64
Obs: Comentários          object
Ativo? (S/N)              object
Regional/Zona             object
dtype: object

# Removendo colunas vazias

In [74]:
threshhold = 0.8

In [75]:
dados.isna().sum()

  ID Cliente                 0
NOME COMPLETO!               0
E-mail@Principal          7888
 idade                    2164
Data de Nascimento#       2575
Telefone/Celular          2097
CEP (Código)              2163
Endereço & Cidade         5220
Estado-UF                 1402
Salário (R$)              2073
Status_da_Conta           1046
Score de Crédito%         3039
Produto Favorito*         6230
Data da Última Compra     3346
Valor Total Gasto         2105
Categoria-Cliente         1162
Unnamed: 16              52500
Obs: Comentários         40034
Ativo? (S/N)              1096
Regional/Zona             2677
dtype: int64

In [76]:
dados = dados.dropna(axis=1, thresh=int(threshhold * len(dados)))

In [77]:
dados.isna().sum()

  ID Cliente                0
NOME COMPLETO!              0
E-mail@Principal         7888
 idade                   2164
Data de Nascimento#      2575
Telefone/Celular         2097
CEP (Código)             2163
Endereço & Cidade        5220
Estado-UF                1402
Salário (R$)             2073
Status_da_Conta          1046
Score de Crédito%        3039
Produto Favorito*        6230
Data da Última Compra    3346
Valor Total Gasto        2105
Categoria-Cliente        1162
Ativo? (S/N)             1096
Regional/Zona            2677
dtype: int64

# Alterando nome das colunas

In [78]:
dados.columns

Index(['  ID Cliente  ', 'NOME COMPLETO!', 'E-mail@Principal', ' idade ',
       'Data de Nascimento#', 'Telefone/Celular', 'CEP (Código)',
       'Endereço & Cidade', 'Estado-UF', 'Salário (R$)', 'Status_da_Conta',
       'Score de Crédito%', 'Produto Favorito*', 'Data da Última Compra',
       'Valor Total Gasto', 'Categoria-Cliente', 'Ativo? (S/N)',
       'Regional/Zona'],
      dtype='object')

In [79]:
dados = dados.rename(columns={
    '  ID Cliente  ': 'id',
    'NOME COMPLETO!': 'nome',
    'E-mail@Principal': 'email',
    ' idade ': 'idade',
    'Data de Nascimento#': 'data_nascimento',
    'Telefone/Celular': 'telefone',
    'CEP (Código)': 'cep',
    'Endereço & Cidade': 'endereco_cidade',
    'Estado-UF': 'estado_uf',
    'Salário (R$)': 'salario',
    'Status_da_Conta': 'status_conta',
    'Score de Crédito%': 'score_credito',
    'Produto Favorito*': 'produto_favorito',
    'Data da Última Compra': 'data_ultima_compra',
    'Valor Total Gasto': 'valor_total_gasto',
    'Categoria-Cliente': 'categoria_cliente',
    'Unnamed: 16': 'coluna_vazia',
    'Obs: Comentários': 'obs_comentarios',
    'Ativo? (S/N)': 'ativo'
})

In [80]:
dados.columns

Index(['id', 'nome', 'email', 'idade', 'data_nascimento', 'telefone', 'cep',
       'endereco_cidade', 'estado_uf', 'salario', 'status_conta',
       'score_credito', 'produto_favorito', 'data_ultima_compra',
       'valor_total_gasto', 'categoria_cliente', 'ativo', 'Regional/Zona'],
      dtype='object')

# Removendo duplicatas

In [81]:
dados.shape

(52500, 18)

In [82]:
dados.drop_duplicates(inplace=True)

In [83]:
dados.shape

(50000, 18)

## Limpando id cliente

In [84]:
dados['id'].duplicated().sum()

0

In [85]:
dados = dados.drop_duplicates(subset=['id'])

In [86]:
dados['id'].duplicated().sum()

0

# Alterando tipos de dados

## Idade

In [87]:
dados['idade'].unique()

array(['56', '69', '46', '32', '60', '25', '78', 'Não informado', '38',
       '75', '36', '40', '28', '41', '70', '53', '57', nan, '20', '39',
       '19', '61', '47', '55', '-5', '77', '50', '29', '42', 'idoso',
       '66', '44', '76', '150', '59', '45', '33', '79', '64', '68', '72',
       '74', '54', '24', '26', '35', '21', '31', '67', '43', '37',
       '25 anos', '52', '34', '23', '71', '51', '27', '48', '65', '62',
       '58', '18', '22', '30', '49', 'menor de idade', '73', '63'],
      dtype=object)

In [88]:
# Converte para numérico, removendo strings e valores inválidos
dados['idade'] = pd.to_numeric(dados['idade'], errors='coerce')

# Remove linhas onde o valor ficou NaN (ou seja, não era número)
dados = dados.dropna(subset=['idade'])

In [89]:
dados['idade'].unique()

array([ 56.,  69.,  46.,  32.,  60.,  25.,  78.,  38.,  75.,  36.,  40.,
        28.,  41.,  70.,  53.,  57.,  20.,  39.,  19.,  61.,  47.,  55.,
        -5.,  77.,  50.,  29.,  42.,  66.,  44.,  76., 150.,  59.,  45.,
        33.,  79.,  64.,  68.,  72.,  74.,  54.,  24.,  26.,  35.,  21.,
        31.,  67.,  43.,  37.,  52.,  34.,  23.,  71.,  51.,  27.,  48.,
        65.,  62.,  58.,  18.,  22.,  30.,  49.,  73.,  63.])

## Nome completo

In [90]:
dados['nome'] = dados['nome'].str.lower()

In [91]:
dados['nome'].unique

<bound method Series.unique of 0             ana silva
1           carla souza
2             ana costa
3        mariana santos
4           maria silva
              ...
49995     rafael santos
49996      pedro santos
49997       lucia souza
49998     juliana silva
49999      lucia santos
Name: nome, Length: 45280, dtype: object>

In [92]:
mask = dados['nome'].str.contains(r"[!@#$%¨&*\(\)_\-\+=\{\}\[\]/\\|;:'<>,\.?~^`´]", regex=True)

In [93]:
dados[mask]

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona
61,62,sr. pedro ferreira,sr..pedro.ferreira@hotmail.com,72.0,10/08/1962,11999999999,58169648,"Rua da Paz, 176 - Fortaleza",GO,14092,Ativo,NaN,Smartwatch,NaN,NaN,Ouro,S,NaN
78,79,sr. mariana santos,sr..mariana.santos@uol.com.br,75.0,12/09/1986,11 47736-0103,14216774,"Rua Central, 249 - Belo Horizonte",SP,4197,Suspenso,433,Monitor,03-04-2024,7714.69,Platina,S,norte
157,158,sr. lucia costa,sr..lucia.costa@uol.com.br,41.0,12/12/1957,(31) 82403-2255,62729278,"Rua Principal, 943 - Manaus",SP,11989,Suspenso,513,Camera,NaN,2725.55,Ouro,S,Centro
491,492,sr. rafael gomes,sr..rafael.gomes@bol.com.br,63.0,01/03/1987,47948994908,56320-416,"Rua da Paz, 923 - Salvador",AM,NaN,Inativo,542,Monitor,2024-12-07,8304.09,Diamante,S,Centro
556,557,sr. cristina lima,sr..cristina.lima@uol.com.br,48.0,09/10/1963,(21) 10679-8304,06446-610,NaN,PA,7682,Bloqueado,800,Mouse,07/07/2024,8677.15,Prata,S,Oeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49392,49393,sr. joão ribeiro,sr..joão.ribeiro@uol.com.br,33.0,09/23/1954,(47) 81855-6915,03014-894,NaN,PA,11984,Inativo,NaN,Camera,28/04/2024,5284.87,Diamante,N,SUL
49413,49414,sr. mariana souza,sr..mariana.souza@yahoo.com,45.0,02/22/1951,31 59331-8208,53661-388,NaN,MG,2760,Suspenso,NaN,Fone de Ouvido,07-27-2024,1656.18,Bronze,S,centro-oeste
49680,49681,sr. andré rodrigues,sr..andré.rodrigues@bol.com.br,76.0,03/22/2003,47 38621-6129,24998869,NaN,CE,3687,Inativo,Alto,Camera,08-30-2024,8357.2,Ouro,N,centro-oeste
49745,49746,sr. claudia silva,sr..claudia.silva@yahoo.com,43.0,05/20/1985,(31) 71375-4016,30724-545,NaN,SP,13319,Inativo,342,Notebook,2024-10-27,5863.46,Prata,N,Leste
49961,49962,sr. paulo santos,espacos@email.com,18.0,02/20/1978,31 47824-0836,54496142,"Rua Central, 499 - Fortaleza",PR,10738,Suspenso,547,Tablet,17/01/2024,5232.36,NaN,1,centro-oeste

In [94]:
dados = dados[~mask]

In [95]:
dados['nome'].unique

<bound method Series.unique of 0             ana silva
1           carla souza
2             ana costa
3        mariana santos
4           maria silva
              ...
49995     rafael santos
49996      pedro santos
49997       lucia souza
49998     juliana silva
49999      lucia santos
Name: nome, Length: 44582, dtype: object>

## Email

In [96]:
dados['email'].str.strip()

0              ana.silva@yahoo.com
1                              NaN
2            ana.costa@hotmail.com
3        mariana.santos@bol.com.br
4          maria.silva@hotmail.com
                   ...
49995                          NaN
49996       pedro.santos@gmail.com
49997        lucia.souza@yahoo.com
49998      juliana.silva@yahoo.com
49999     lucia.santos@hotmail.com
Name: email, Length: 44582, dtype: object

In [97]:
dados['email'].isnull()

0        False
1         True
2        False
3        False
4        False
         ...
49995     True
49996    False
49997    False
49998    False
49999    False
Name: email, Length: 44582, dtype: bool

## Data de nascimento

In [102]:
dados['data_nascimento'] = pd.to_datetime(dados['data_nascimento'], errors='coerce')

In [103]:
dados['data_nascimento'].unique

<bound method Series.unique of 0              NaT
1       1950-10-18
2              NaT
3       1976-06-08
4       2001-03-19
           ...
49995   1990-02-15
49996          NaT
49997          NaT
49998   1980-05-25
49999   1994-11-16
Name: data_nascimento, Length: 44582, dtype: datetime64[ns]>