# Integrantes: 
## Felipe Bochini & Gabriel Ferreira Furiato

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('..\..\Dados\Raw\dataset_pratica_limpeza_dados.csv')

In [3]:
dados.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [4]:
dados.describe()

         ID Cliente    Unnamed: 16
count    52500.000000          0.0
mean     24995.334610          NaN
std      14418.824423          NaN
min          1.000000          NaN
25%      12514.750000          NaN
50%      24981.500000          NaN
75%      37470.250000          NaN
max      50000.000000          NaN

In [5]:
print(dados.dtypes)

  ID Cliente               int64
NOME COMPLETO!            object
E-mail@Principal          object
 idade                    object
Data de Nascimento#       object
Telefone/Celular          object
CEP (Código)              object
Endereço & Cidade         object
Estado-UF                 object
Salário (R$)              object
Status_da_Conta           object
Score de Crédito%         object
Produto Favorito*         object
Data da Última Compra     object
Valor Total Gasto         object
Categoria-Cliente         object
Unnamed: 16              float64
Obs: Comentários          object
Ativo? (S/N)              object
Regional/Zona             object
dtype: object

# Padronizando colunas

## Removendo coluna ID

In [6]:
dados.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [55]:
dados = dados.drop(columns=['  ID Cliente', 'id'], errors='ignore')

In [56]:
dados.head()

,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona,idoso
0,Ana Silva,ana.silva@yahoo.com,56.0,NaT,(85) 16400-0408,04397312,NaN,CE,NaN,Suspenso,852,Monitor,2024-09-30,4495.03,Ouro,Ativo,Norte,0
1,Carla Souza,NaN,69.0,1950-10-18,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,NaN,Ativo,517,Monitor,NaT,6751.27,Diamante,S,Centro-Oeste,1
2,Ana Costa,ana.costa@hotmail.com,46.0,NaT,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030.0,Ativo,428,TECLADO,NaT,6900.93,Ouro,N,Centro-Oeste,0
3,Mariana Santos,mariana.santos@bol.com.br,32.0,1976-06-08,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038.0,Inativo,662,Notebook,NaT,3743.36,Platina,N,Centro-Oeste,0
4,Maria Silva,maria.silva@hotmail.com,60.0,2001-03-19,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659.0,Bloqueado,375,CAMERA,NaT,9077.3,Ouro,N,Centro-Oeste,1

## Removendo colunas vazias

In [9]:
threshhold = 0.8

In [10]:
dados.isna().sum()

  ID Cliente                 0
NOME COMPLETO!               0
E-mail@Principal          7888
 idade                    2164
Data de Nascimento#       2575
Telefone/Celular          2097
CEP (Código)              2163
Endereço & Cidade         5220
Estado-UF                 1402
Salário (R$)              2073
Status_da_Conta           1046
Score de Crédito%         3039
Produto Favorito*         6230
Data da Última Compra     3346
Valor Total Gasto         2105
Categoria-Cliente         1162
Unnamed: 16              52500
Obs: Comentários         40034
Ativo? (S/N)              1096
Regional/Zona             2677
dtype: int64

In [11]:
dados = dados.dropna(axis=1, thresh=int(threshhold * len(dados)))

In [12]:
dados.isna().sum()

  ID Cliente                0
NOME COMPLETO!              0
E-mail@Principal         7888
 idade                   2164
Data de Nascimento#      2575
Telefone/Celular         2097
CEP (Código)             2163
Endereço & Cidade        5220
Estado-UF                1402
Salário (R$)             2073
Status_da_Conta          1046
Score de Crédito%        3039
Produto Favorito*        6230
Data da Última Compra    3346
Valor Total Gasto        2105
Categoria-Cliente        1162
Ativo? (S/N)             1096
Regional/Zona            2677
dtype: int64

## Alterando nome das colunas

In [13]:
dados.columns

Index(['  ID Cliente  ', 'NOME COMPLETO!', 'E-mail@Principal', ' idade ',
       'Data de Nascimento#', 'Telefone/Celular', 'CEP (Código)',
       'Endereço & Cidade', 'Estado-UF', 'Salário (R$)', 'Status_da_Conta',
       'Score de Crédito%', 'Produto Favorito*', 'Data da Última Compra',
       'Valor Total Gasto', 'Categoria-Cliente', 'Ativo? (S/N)',
       'Regional/Zona'],
      dtype='object')

In [14]:
dados = dados.rename(columns={
    '  ID Cliente  ': 'id',
    'NOME COMPLETO!': 'nome',
    'E-mail@Principal': 'email',
    ' idade ': 'idade',
    'Data de Nascimento#': 'data_nascimento',
    'Telefone/Celular': 'telefone',
    'CEP (Código)': 'cep',
    'Endereço & Cidade': 'endereco_cidade',
    'Estado-UF': 'estado_uf',
    'Salário (R$)': 'salario',
    'Status_da_Conta': 'status_conta',
    'Score de Crédito%': 'score_credito',
    'Produto Favorito*': 'produto_favorito',
    'Data da Última Compra': 'data_ultima_compra',
    'Valor Total Gasto': 'valor_total_gasto',
    'Categoria-Cliente': 'categoria_cliente',
    'Unnamed: 16': 'coluna_vazia',
    'Obs: Comentários': 'obs_comentarios',
    'Ativo? (S/N)': 'ativo'
})

In [15]:
dados.columns

Index(['id', 'nome', 'email', 'idade', 'data_nascimento', 'telefone', 'cep',
       'endereco_cidade', 'estado_uf', 'salario', 'status_conta',
       'score_credito', 'produto_favorito', 'data_ultima_compra',
       'valor_total_gasto', 'categoria_cliente', 'ativo', 'Regional/Zona'],
      dtype='object')

# Removendo duplicatas

In [16]:
dados.shape

(52500, 18)

In [17]:
dados.duplicated().sum()

2500

In [18]:
dados.drop_duplicates(inplace=True)

In [19]:
dados.shape

(50000, 18)

# Alterando tipos de dados

## Idade

In [20]:
dados['idade'].unique()

array(['56', '69', '46', '32', '60', '25', '78', 'Não informado', '38',
       '75', '36', '40', '28', '41', '70', '53', '57', nan, '20', '39',
       '19', '61', '47', '55', '-5', '77', '50', '29', '42', 'idoso',
       '66', '44', '76', '150', '59', '45', '33', '79', '64', '68', '72',
       '74', '54', '24', '26', '35', '21', '31', '67', '43', '37',
       '25 anos', '52', '34', '23', '71', '51', '27', '48', '65', '62',
       '58', '18', '22', '30', '49', 'menor de idade', '73', '63'],
      dtype=object)

In [21]:
# Converte para numérico, removendo strings e valores inválidos
dados['idade'] = pd.to_numeric(dados['idade'], errors='coerce')

# Remove linhas onde o valor ficou NaN (ou seja, não era número)
dados = dados.dropna(subset=['idade'])

In [22]:
dados['idade'].unique()

array([ 56.,  69.,  46.,  32.,  60.,  25.,  78.,  38.,  75.,  36.,  40.,
        28.,  41.,  70.,  53.,  57.,  20.,  39.,  19.,  61.,  47.,  55.,
        -5.,  77.,  50.,  29.,  42.,  66.,  44.,  76., 150.,  59.,  45.,
        33.,  79.,  64.,  68.,  72.,  74.,  54.,  24.,  26.,  35.,  21.,
        31.,  67.,  43.,  37.,  52.,  34.,  23.,  71.,  51.,  27.,  48.,
        65.,  62.,  58.,  18.,  22.,  30.,  49.,  73.,  63.])

In [60]:
dados['idade'].astype

<bound method NDFrame.astype of 0        56.0
1        69.0
2        46.0
3        32.0
4        60.0
         ...
49995    30.0
49996    59.0
49997    78.0
49998    22.0
49999    40.0
Name: idade, Length: 44582, dtype: float64>

## Nome completo

In [23]:
dados['nome'] = dados['nome'].str.lower()

In [24]:
dados['nome'].unique()

array(['ana silva', 'carla souza', 'ana costa', ..., 'juliana   oliveira',
       'sr. fernando ribeiro', '  andré lima  '], dtype=object)

In [61]:
mask = dados['nome'].str.contains(r"[!@#$%¨&*\(\)_\-\+=\{\}\[\]/\\|;:'<>,\.?~^`´1234567890]", regex=True)

In [62]:
dados[mask]

,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona,idoso
160,Carlos Silva123,carlos.silva123@bol.com.br,25.0,NaT,(31) 95037-4050,03368-405,NaN,PE,14105.0,Bloqueado,607,Smartwatch,NaT,8240.69,Diamante,False,Norte,0
195,Ricardo Oliveira123,ricardo.oliveira123@gmail.com,52.0,1959-12-26,31325108607,11194231,"Rua da Paz, 100 - Guarulhos",BA,10859.0,Ativo,594,Teclado,2024-06-28,228.46,Prata,S,Centro-Oeste,0
346,Lucia Oliveira123,lucia.oliveira123@outlook.com,21.0,1961-03-15,47 60712-8975,53506500,"Rua da Paz, 62 - Recife",AM,6154.0,Ativo,506,TV,2024-05-07,1256.73,Platina,S,Leste,0
382,Carla Costa123,carla.costa123@gmail.com,49.0,NaT,31 31126-5080,28146019,"Rua da Paz, 149 - Rio de Janeiro",NaN,NaN,Ativo,554,Fone de Ouvido,2024-08-22,5068.82,Ouro,S,Leste,0
555,Cristina Pereira123,@dominio.com,59.0,1983-02-24,(21) 17771-2923,36866-125,"Rua Principal, 675 - São Paulo",PA,11914.0,NaN,Baixo,Mouse,NaT,Baixo,Prata,S,Leste,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49724,Cristina Gomes123,cristina.gomes123@hotmail.com,50.0,NaT,21 63076-3858,27515036,"Rua Central, 207 - Porto Alegre",GO,8728.0,Inativo,850 pontos,Smartwatch,NaT,8127.63,Prata,S,Oeste,0
49763,Carla Santos123,carla.santos123@hotmail.com,33.0,1951-06-25,85 47536-0949,00000-000,"Rua das Flores, 957 - Brasília",PR,7355.0,Inativo,624,Teclado,NaT,6867.01,Platina,N,Centro-Oeste,0
49778,André Souza123,andré.souza123@uol.com.br,46.0,NaT,(85) 11642-6390,89184-420,"Rua Principal, 959 - Curitiba",PR,14904.0,Suspenso,Excelente,Notebook,NaT,4097.16,Gold,S,Centro-Oeste,0
49823,Patricia Ferreira123,NaN,77.0,1964-10-16,85 68436-3156,54951-938,"Rua da Paz, 962 - Guarulhos",SP,NaN,Suspenso,849,NaN,NaT,1005.24,Bronze,N,Sul,1
49856,Carlos Pereira123,carlos.pereira123@yahoo.com,62.0,1961-04-10,(31) 25680-6600,37825368,"Rua da Paz, 903 - Goiânia",SP,10405.0,Ativo,834,Fone de Ouvido,NaT,735.3,Bronze,S,Leste,1

In [63]:
dados = dados[~mask]

In [64]:
dados['nome'].unique()

array(['Ana Silva', 'Carla Souza', 'Ana Costa', 'Mariana Santos',
       'Maria Silva', 'Paulo Gomes', 'Mariana Alves', 'João Oliveira',
       'Marcos Rodrigues', 'Marcos Santos', 'Patricia Ferreira',
       'Maria Ribeiro', 'Ana   Alves', 'Cristina Ferreira', 'Pedro Silva',
       'Juliana Santos', 'Ana Alves', 'Patricia Oliveira', 'Bruno Costa',
       'Mariana Ribeiro', 'Ricardo Alves', 'Mariana Souza', 'Maria Souza',
       'Marcos Alves', 'Marcos Souza', 'Fernando Costa',
       'Rafael Oliveira', 'Mariana Lima', 'André Alves',
       'Fernando Ferreira', 'Carlos Lima', 'Maria Santos', 'Lucia Costa',
       'Pedro Alves', 'Ricardo Lima', 'Mariana Silva', 'Rafael Costa',
       'João Ribeiro', 'Rafael Lima', 'Paulo Santos', 'Juliana Costa',
       'Bruno Oliveira', 'Lucia Lima', 'Paulo Silva', 'Fernanda Silva',
       'Patricia Rodrigues', 'Carla Gomes', 'Pedro Lima', 'Carlos Costa',
       'Cristina Alves', 'Juliana Alves', 'Patricia Pereira',
       'Ricardo Santos', 'Pedro Ribeiro', 'Carla Santos',
       'Mariana Oliveira', 'André Gomes', 'Fernanda Alves',
       'Claudia Alves', 'Maria Costa', 'Bruno Lima', 'Claudia Oliveira',
       'Carla Oliveira', 'Fernanda Souza', 'Maria Oliveira',
       'Fernando Rodrigues', 'Ricardo Rodrigues', 'Mariana Costa',
       'Carlos Souza', 'Maria Gomes', 'Pedro Oliveira', 'Carla Alves',
       'André Souza', 'Maria de Gomes', 'Rafael Souza', 'André Santos',
       'Paulo Rodrigues', 'Patricia Santos', 'Mariana Rodrigues',
       'Ana Oliveira', 'Ana Ribeiro', 'Rafael Rodrigues',
       'João de Santos', 'Carlos   Lima', 'André Lima', 'Carlos Silva',
       'Maria Ferreira', 'Carla Costa', 'Lucia de Alves',
       'Ricardo Ferreira', 'Pedro Rodrigues', 'Paulo Alves',
       'Mariana Ferreira', 'Ana Rodrigues', 'Rafael Silva',
       'Claudia Ferreira', 'Claudia Silva', 'Bruno Ferreira',
       'Marcos Gomes', 'Lucia Gomes', 'Fernando Lima',
       'Juliana Rodrigues', 'Ricardo Pereira', 'Juliana Souza',
       'Cristina Santos', 'Fernando Pereira', 'Paulo Pereira',
       'Ana Pereira', 'Mariana Gomes', 'Ricardo Gomes', 'Mariana Pereira',
       'Fernanda Pereira', 'Rafael   Pereira', 'Carla Rodrigues',
       'Marcos Lima', 'Fernando Gomes', 'João Gomes', 'João Ferreira',
       'Fernando Alves', 'Fernando Ribeiro', 'Ricardo Oliveira',
       'Pedro Costa', 'Claudia Rodrigues', 'Cristina Oliveira',
       'Fernanda Costa', 'Bruno Pereira', 'Ana   Gomes', 'André Costa',
       'Bruno Santos', 'Ana Gomes', 'Patricia Lima', 'Marcos Silva',
       'Fernanda Santos', 'Patricia Costa', 'Ricardo Ribeiro',
       'Rafael Gomes', 'André Rodrigues', 'Ricardo Souza',
       'Marcos Oliveira', 'Cristina Ribeiro', 'Claudia Pereira',
       'Carla Ribeiro', 'Patricia Alves', 'Lucia Souza',
       'Fernanda Rodrigues', 'Ana Souza', 'Maria Lima', 'Maria Rodrigues',
       'Fernando de Pereira', 'Ana Lima', 'Cristina Gomes', 'Carla Lima',
       'Fernanda   Rodrigues', 'Juliana Ribeiro', 'Bruno Alves',
       'Juliana Gomes', 'Claudia Ribeiro', 'Rafael de Silva',
       'Fernanda Lima', 'Claudia Costa', 'Pedro Pereira',
       'Marcos Ferreira', 'Lucia Ferreira', 'João Costa',
       'Patricia Gomes', 'Ricardo Silva', 'Carlos Pereira',
       'Juliana Lima', 'Carla Pereira', 'Fernando Souza', 'Paulo Ribeiro',
       'Fernanda Oliveira', 'Fernanda Ferreira', 'Fernanda Ribeiro',
       'Rafael Ferreira', 'Fernando   Costa', 'Claudia Santos',
       'Juliana Silva', 'Juliana Ferreira', 'Cristina Costa',
       'André Oliveira', 'Rafael Pereira', 'João Pereira',
       'Mariana   Oliveira', 'André Ferreira', 'Fernando de Rodrigues',
       'Patricia Souza', 'Cristina Rodrigues', 'Carlos de Costa',
       'Carlos Santos', 'Marcos Ribeiro', 'Fernando Silva',
       'Carlos Alves', 'Fernanda Gomes', 'Carla de Ferreira',
       'Patricia Silva', 'Cristina   Silva', 'Carla Ferreira',
       'Cristina Silva', 'Carlos Oliveira', 'Lucia Santos',
       'André   Ferreira', 'Paulo Souza', 'João Silva', 'Pedro Santos',
       'Cristina de Alves', 'Pedro de Alves', 'Claudia   Ribeiro',
       'Claudia Lima', 'Lucia Oliveira', 'Fernando Santos', 'João Santos',
       'Ana Ferreira', 'Maria Alves', 'Fernando   Lima', 'André Pereira',
       'Pedro Gomes', 'Maria Pereira', 'Cristina Pereira',
       'Marcos de Ribeiro', 'Lucia Silva', 'Marcos Costa',
       'Rafael Ribeiro', 'Fernando Oliveira', 'Paulo Lima',
       'Juliana Pereira', 'Lucia Rodrigues', 'Pedro Souza',
       'Carlos Ribeiro', 'João Rodrigues', 'Cristina Lima',
       'Juliana   Alves', 'Bruno Silva', 'Bruno Rodrigues', 'Ana Santos',
       'Patricia   Pereira', 'Maria de Oliveira', 'André Silva',
       'Juliana Oliveira', 'Claudia   Gomes', 'Paulo Ferreira',
       'Paulo Costa', 'Bruno Gomes', 'Carla Silva', 'Ana   Souza',
       'Lucia Pereira', 'Bruno Ribeiro', 'Marcos Pereira',
       'Carlos de Rodrigues', 'Pedro Ferreira', 'Lucia Alves',
       'Ricardo Costa', 'Patricia Ribeiro', 'Bruno Souza',
       'Juliana   Ribeiro', 'Fernando de Alves', 'Carlos Rodrigues',
       'Claudia Gomes', 'João Souza', 'Claudia de Silva', 'João Lima',
       'Patricia   Santos', 'Claudia   Santos', 'Rafael Alves',
       'Paulo Oliveira', 'Carlos Ferreira', 'Patricia de Pereira',
       'Ricardo   Gomes', 'André Ribeiro', 'Marcos de Gomes',
       'Carlos Gomes', 'Rafael Santos', 'Rafael de Lima', 'João   Souza',
       'Claudia Souza', 'Cristina Souza', 'João de Ferreira',
       'João Alves', 'Lucia Ribeiro', 'Carla   Ribeiro',
       'Claudia   Oliveira', 'Fernanda de Rodrigues', 'Paulo de Oliveira',
       'Ana   Costa', 'Ana   Pereira', 'Marcos   Costa', 'Ana de Pereira',
       'Marcos de Souza', 'Patricia de Gomes', 'Mariana de Gomes',
       'Marcos de Lima', 'Mariana de Costa', 'Fernanda   Souza',
       'Ricardo de Silva', 'Paulo de Santos', 'João   Oliveira',
       'Paulo   Lima', 'Carla de Rodrigues', 'Fernanda   Lima',
       'Marcos de Santos', 'Maria   Ribeiro', 'Carla de Oliveira',
       'Cristina de Rodrigues', 'Patricia de Santos', 'Carlos   Ribeiro',
       'Lucia   Ribeiro', 'Patricia   Silva', 'Carlos de Oliveira',
       'Maria de Santos', 'Fernando de Gomes', 'João de Costa',
       'Mariana de Ribeiro', 'Rafael   Silva', 'Fernando de Santos',
       'Lucia   Gomes', 'Patricia de Oliveira', 'Lucia   Lima',
       'Marcos   Alves', 'Juliana de Gomes', 'Carlos   Souza',
       'Patricia   Costa', 'Claudia de Alves', 'Carlos de Gomes',
       'Marcos   Ferreira', 'Cristina de Ferreira', 'Pedro de Lima',
       'Bruno de Pereira', 'Cristina de Souza', 'Marcos de Rodrigues',
       'Carlos   Silva', 'João   Ferreira', 'Rafael de Santos',
       'Mariana de Oliveira', 'Fernanda de Silva', 'Pedro de Santos',
       'Cristina   Alves', 'Patricia de Lima', 'Cristina de Santos',
       'Patricia de Ferreira', 'Carlos de Souza', 'Juliana   Ferreira',
       'Bruno   Gomes', 'Pedro   Pereira', 'André de Santos',
       'André de Oliveira', 'Fernanda de Costa', 'Carla   Lima',
       'Cristina de Costa', 'Maria   Santos', 'Lucia de Rodrigues',
       'Carlos de Santos', 'André de Rodrigues', 'Juliana de Alves',
       'Claudia   Lima', 'Rafael   Rodrigues', 'Juliana   Gomes',
       'Ana de Ribeiro', 'João de Alves', 'Marcos de Oliveira',
       'Cristina de Oliveira', 'Cristina   Rodrigues',
       'Fernanda de Alves', 'Ricardo   Rodrigues', 'Ricardo   Alves',
       'André   Pereira', 'Mariana de Ferreira', 'Fernanda   Costa',
       'Carlos   Gomes', 'Patricia de Costa', 'Ricardo de Rodrigues',
       'Fernando   Silva', 'Ana de Alves', 'Fernando   Pereira',
       'Juliana de Silva', 'Carla   Ferreira', 'Pedro de Souza',
       'Mariana   Costa', 'João   Gomes', 'Bruno de Ferreira',
       'João   Ribeiro', 'Carla de Lima', 'Pedro   Silva',
       'Claudia   Pereira', 'Fernanda   Santos', 'Carla   Costa',
       'João   Santos', 'Maria de Lima', 'André de Pereira',
       'André   Oliveira', 'Bruno   Silva', 'Carlos   Costa',
       'Claudia de Souza', 'André   Silva', 'João de Oliveira',
       'Carlos de Ribeiro', 'Mariana de Alves', 'Paulo de Ribeiro',
       'Carla de Gomes', 'Fernando de Lima', 'Pedro de Gomes',
       'Claudia   Alves', 'João   Silva', 'Maria   Souza',
       'Fernanda   Silva', 'Pedro de Pereira', 'Carla de Silva',
       'Mariana de Santos', 'Lucia de Silva', 'Pedro de Rodrigues',
       'Ana de Silva', 'Fernando   Oliveira', 'Juliana de Ribeiro',
       'Rafael   Ribeiro', 'Cristina   Ferreira', 'André   Santos',
       'Juliana   Santos', 'Fernanda   Ribeiro', 'Claudia de Ferreira',
       'Rafael   Oliveira', 'Juliana de Ferreira', 'Mariana   Santos',
       'Lucia de Ribeiro', 'Fernanda de Souza', 'Pedro de Ferreira',
       'Carlos   Rodrigues', 'Ricardo de Lima', 'Bruno de Oliveira',
       'Paulo   Costa', 'Fernanda   Pereira', 'Pedro de Silva',
       'Ricardo de Santos', 'Ana de Oliveira', 'Ricardo de Souza',
       'Carla   Oliveira', 'Marcos   Rodrigues', 'André de Ferreira',
       'Bruno   Ribeiro', 'Rafael de Oliveira', 'Carla de Pereira',
       'Cristina   Ribeiro', 'Cristina   Oliveira', 'Paulo de Costa',
       'Ricardo de Gomes', 'Lucia   Oliveira', 'João de Gomes',
       'Carla de Santos', 'Paulo de Alves', 'João de Ribeiro',
       'Rafael de Alves', 'Lucia de Oliveira', 'Patricia de Ribeiro',
       'Marcos de Ferreira', 'Carlos   Ferreira', 'João   Rodrigues',
       'Marcos   Ribeiro', 'Cristina   Gomes', 'Mariana   Alves',
       'André   Alves', 'Claudia de Costa', 'Ana   Ribeiro',
       'Patricia de Silva', 'Mariana   Gomes', 'Fernanda de Ribeiro',
       'Maria de Rodrigues', 'Ricardo   Oliveira', 'Bruno   Pereira',
       'Rafael   Santos', 'Claudia de Pereira', 'Ana   Oliveira',
       'Bruno de Souza', 'Pedro   Ribeiro', 'Carlos de Silva',
       'André   Ribeiro', 'Mariana   Silva', 'Fernanda   Oliveira',
       'Ana   Silva', 'André   Rodrigues', 'Claudia   Silva',
       'Ana   Lima', 'João   Pereira', 'Bruno   Souza',
       'Ricardo de Alves', 'Patricia de Alves', 'Fernando   Souza',
       'Fernando de Silva', 'Carla   Souza', 'Mariana   Souza',
       'Marcos   Lima', 'Lucia de Gomes', 'Cristina de Gomes',
       'Fernanda de Pereira', 'Fernando   Alves', 'Paulo de Pereira',
       'João   Alves', 'Claudia   Ferreira', 'Bruno   Rodrigues',
       'Cristina de Silva', 'Ricardo   Ribeiro', 'Ricardo   Souza',
       'Mariana   Ferreira', 'Ricardo   Costa', 'Marcos   Santos',
       'Paulo   Souza', 'Mariana   Lima', 'Fernando   Ferreira',
       'André   Costa', 'Carla de Costa', 'Claudia de Lima',
       'Juliana   Pereira', 'João de Rodrigues', 'Rafael   Alves',
       'Marcos   Oliveira', 'Pedro de Ribeiro', 'Patricia   Ribeiro',
       'Lucia   Rodrigues', 'Maria   Costa', 'Lucia de Ferreira',
       'Pedro   Rodrigues', 'André de Costa', 'Juliana   Lima',
       'Claudia de Santos', 'Claudia de Ribeiro', 'Juliana de Rodrigues',
       'Rafael de Souza', 'João de Silva', 'Lucia de Pereira',
       'Rafael de Pereira', 'Paulo   Ribeiro', 'Lucia   Santos',
       'Paulo de Lima', 'Maria   Lima', 'Maria   Silva',
       'Patricia de Rodrigues', 'Carlos   Santos', 'Fernanda de Ferreira',
       'Cristina de Pereira', 'Marcos   Gomes', 'Mariana de Pereira',
       'Ana de Lima', 'Marcos   Silva', 'Fernanda   Ferreira',
       'Carla   Pereira', 'Maria   Pereira', 'Ricardo de Pereira',
       'Ricardo de Ferreira', 'Cristina de Lima', 'Paulo de Souza',
       'Paulo   Alves', 'João de Lima', 'Maria de Pereira',
       'André de Lima', 'Lucia   Silva', 'Fernando   Rodrigues',
       'Marcos   Souza', 'Mariana de Rodrigues', 'Patricia   Lima',
       'André de Alves', 'Pedro   Lima', 'Bruno   Alves',
       'Carlos   Pereira', 'Paulo de Ferreira', 'Bruno   Santos',
       'Fernando de Ribeiro', 'Carla   Alves', 'Juliana de Santos',
       'Patricia   Gomes', 'Carlos   Alves', 'Maria   Ferreira',
       'Juliana de Pereira', 'Rafael   Gomes', 'Bruno   Oliveira',
       'Cristina   Santos', 'Fernanda   Alves', 'Ricardo   Lima',
       'Bruno de Lima', 'Bruno de Silva', 'Fernando de Ferreira',
       'Mariana   Ribeiro', 'Cristina   Costa', 'Paulo   Oliveira',
       'Patricia   Oliveira', 'Ana de Gomes', 'Lucia de Santos',
       'Bruno de Costa', 'Paulo   Gomes', 'Ana   Rodrigues',
       'André de Gomes', 'Fernando de Oliveira', 'Fernanda de Gomes',
       'Maria   Oliveira', 'Claudia de Gomes', 'Ana   Santos',
       'André de Ribeiro', 'Fernando   Santos', 'Cristina   Souza',
       'João de Pereira', 'Bruno de Rodrigues', 'Claudia de Oliveira',
       'Bruno   Costa', 'Fernando de Costa', 'Bruno de Alves',
       'Bruno   Ferreira', 'Fernanda de Santos', 'Ricardo   Pereira',
       'Juliana   Costa', 'Fernanda de Oliveira', 'Maria   Gomes',
       'Fernanda de Lima', 'André de Souza', 'Mariana de Silva',
       'Fernando   Ribeiro', 'Rafael   Ferreira', 'Claudia de Rodrigues',
       'Marcos de Costa', 'André   Lima', 'Rafael de Gomes',
       'Juliana de Souza', 'Bruno de Santos', 'Marcos de Pereira',
       'Carlos   Oliveira', 'Bruno de Gomes', 'Lucia de Lima',
       'Carla   Santos', 'Pedro   Santos', 'Pedro de Oliveira',
       'Carlos de Pereira', 'Carlos de Alves', 'Lucia   Souza',
       'Lucia   Costa', 'Ana de Costa', 'João de Souza',
       'Cristina   Pereira', 'Patricia de Souza', 'Juliana   Rodrigues',
       'Ricardo   Santos', 'Ricardo de Costa', 'Carla de Alves',
       'Maria de Costa', 'Carla   Gomes', 'Paulo de Silva',
       'Carlos de Lima', 'Marcos de Alves', 'Juliana de Costa',
       'Rafael   Costa', 'Lucia   Alves', 'Claudia   Costa',
       'Rafael de Costa', 'Rafael   Lima', 'Paulo de Rodrigues',
       'Lucia   Pereira', 'Juliana de Oliveira', 'Paulo   Ferreira',
       'Pedro de Costa', 'Ricardo de Oliveira', 'Mariana   Pereira',
       'Patricia   Ferreira', 'João   Costa', 'Paulo   Pereira',
       'Juliana   Silva', 'Paulo de Gomes', 'Claudia   Rodrigues',
       'Carla   Rodrigues', 'Ana de Souza', 'Maria   Rodrigues',
       'Pedro   Oliveira', 'Rafael de Ribeiro', 'Paulo   Silva',
       'Maria de Alves', 'Paulo   Rodrigues', 'Lucia de Souza',
       'João   Lima', 'Patricia   Souza', 'Claudia   Souza',
       'Fernando de Souza', 'Pedro   Alves', 'Cristina de Ribeiro',
       'Mariana de Lima', 'Carla   Silva', 'Paulo   Santos',
       'Lucia   Ferreira', 'Maria de Silva', 'Cristina   Lima',
       'Carla de Ribeiro', 'Pedro   Costa', 'Maria   Alves',
       'Mariana de Souza', 'Ricardo de Ribeiro', 'André   Souza',
       'Ana de Ferreira', 'Maria de Ferreira', 'Ana de Rodrigues',
       'Pedro   Souza', 'Pedro   Gomes', 'Bruno   Lima',
       'Rafael de Ferreira', 'Mariana   Rodrigues', 'Ricardo   Silva',
       'Rafael de Rodrigues', 'Juliana   Oliveira'], dtype=object)

In [68]:
# método simples
dados['nome'].str.title()

0             Ana Silva
1           Carla Souza
2             Ana Costa
3        Mariana Santos
4           Maria Silva
              ...
49995     Rafael Santos
49996      Pedro Santos
49997       Lucia Souza
49998     Juliana Silva
49999      Lucia Santos
Name: nome, Length: 43817, dtype: object

In [69]:
dados[dados['nome'].str.contains('de')]

Empty DataFrame
Columns: [nome, email, idade, data_nascimento, telefone, cep, endereco_cidade, estado_uf, salario, status_conta, score_credito, produto_favorito, data_ultima_compra, valor_total_gasto, categoria_cliente, ativo, Regional/Zona, idoso]
Index: []

In [70]:
# Método complexo para ignorar palavras como 'de', do', etc

# Definindo palavras para ignorar
PARTICULAS_A_IGNORAR = ['de', 'do', 'da', 'dos', 'das', 'e']


def capitalizar_nome(nome):
    nome = str(nome).strip()

    nome_capitalizado = nome.title()

    palavras = nome_capitalizado.split(' ')

    resultado = []

    for i, palavra in enumerate(palavras):
        if palavra.lower() in PARTICULAS_A_IGNORAR and i > 0:
            resultado.append(palavra.lower())
        else:
            resultado.append(palavra)
        
    return ' '.join(resultado)

In [71]:
dados['nome'] = dados['nome'].apply(capitalizar_nome)

In [72]:
dados[dados['nome'].str.contains(' de ')]

,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona,idoso
94,Maria de Gomes,maria.de.gomes@gmail.com,64.0,1959-04-22,85 95980-0629,01191-063,"Rua Central, 434 - Fortaleza",PE,NaN,Suspenso,Alto,Fone de Ouvido,NaT,8313.64,Platina,N,Sul,1
117,João de Santos,joão.de.santos@outlook.com,51.0,1960-03-18,NaN,NaN,"Rua Central, 584 - Recife",CE,14405.0,Bloqueado,880,Monitor,2024-05-16,8722.35,NaN,S,NaN,0
125,Lucia de Alves,lucia.de.alves@uol.com.br,25.0,1953-09-14,21931412788,123456,"Rua das Flores, 15 - Fortaleza",PR,9090.0,Inativo,753,NaN,NaT,5367.38,Diamante,N,Norte,0
258,Fernando de Pereira,fernando.de.pereira@outlook.com,45.0,1961-06-12,NaN,17797-141,"Rua das Flores, 500 - Goiânia",PA,3886.0,Bloqueado,Alto,Teclado,2024-10-20,6775.19,Prata,NaN,Sul,0
284,Rafael de Silva,rafael.de.silva@uol.com.br,44.0,1974-07-12,21202998128,44344151,"Rua das Flores, 999 - Recife",SP,5934.0,Inativo,637,NaN,NaT,5155.21,Bronze,S,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49762,Fernanda de Oliveira,fernanda.de.oliveira@gmail.com,64.0,1981-01-01,47 71524-9779,40767337,NaN,PE,5453.0,Bloqueado,705,TV - Produto,2024-09-19,5240.4,Platina,S,Norte,1
49781,João de Lima,NaN,70.0,1964-07-10,(21) 55798-5304,31298204,"Rua da Paz, 9 - Goiânia",RJ,5762.0,Ativo,662,Smartphone,NaT,4050.12,Bronze,S,Sul,1
49805,Bruno de Oliveira,bruno.de.oliveira@bol.com.br,33.0,1988-04-18,21 11591-3485,55203-169,"Rua Central, 18 - Recife",AM,NaN,Inativo,336,NaN,NaT,"R$ 1.250,50",Ouro,S,Centro-Oeste,0
49854,Cristina de Gomes,cristina.de.gomes@uol.com.br,60.0,NaT,(21) 65375-9636,00286757,"Rua Principal, 539 - Guarulhos",AM,5203.0,Suspenso,654,Camera,2024-11-03,4629.68,Platina,S,Sul,1
49951,Juliana de Alves,juliana.de.alves@yahoo.com,54.0,1963-06-04,(31) 15951-3404,44422689,"Rua das Flores, 169 - Rio de Janeiro",RS,14674.0,Bloqueado,844,Tablet,NaT,329.61,Diamante,Inativo,Norte,0

In [34]:
dados.head()

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56.0,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,Ativo,norte
1,2,Carla Souza,NaN,69.0,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46.0,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32.0,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,N,Centro
4,5,Maria Silva,maria.silva@hotmail.com,60.0,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,N,Centro

## Email

In [35]:
dados['email'].str.strip()

0              ana.silva@yahoo.com
1                              NaN
2            ana.costa@hotmail.com
3        mariana.santos@bol.com.br
4          maria.silva@hotmail.com
                   ...
49995                          NaN
49996       pedro.santos@gmail.com
49997        lucia.souza@yahoo.com
49998      juliana.silva@yahoo.com
49999     lucia.santos@hotmail.com
Name: email, Length: 44582, dtype: object

In [36]:
dados['email'].isnull()

0        False
1         True
2        False
3        False
4        False
         ...
49995     True
49996    False
49997    False
49998    False
49999    False
Name: email, Length: 44582, dtype: bool

## Data de nascimento

In [37]:
dados['data_nascimento'] = pd.to_datetime(dados['data_nascimento'], errors='coerce')

C:\Users\felip\AppData\Local\Temp\ipykernel_2252\3066177099.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dados['data_nascimento'] = pd.to_datetime(dados['data_nascimento'], errors='coerce')

In [38]:
dados['data_nascimento'].unique()

<DatetimeArray>
[                'NaT', '1950-10-18 00:00:00', '1976-06-08 00:00:00',
 '2001-03-19 00:00:00', '2000-02-17 00:00:00', '2002-05-20 00:00:00',
 '1952-12-03 00:00:00', '1983-05-04 00:00:00', '1988-03-07 00:00:00',
 '1981-06-18 00:00:00',
 ...
 '1985-02-26 00:00:00', '1989-07-12 00:00:00', '1961-03-19 00:00:00',
 '1963-06-26 00:00:00', '1990-04-22 00:00:00', '1998-09-11 00:00:00',
 '1961-05-16 00:00:00', '1974-07-18 00:00:00', '1989-12-27 00:00:00',
 '1994-11-16 00:00:00']
Length: 15810, dtype: datetime64[ns]

## Data última compra

In [39]:
dados['data_ultima_compra']

0            30/09/2024
1            2024-09-13
2            03-13-2024
3            04-06-2024
4            01-27-2024
              ...
49995        18/05/2024
49996    Há muito tempo
49997        30/03/2024
49998        2024-08-11
49999        07-24-2024
Name: data_ultima_compra, Length: 44582, dtype: object

In [40]:
dados['data_ultima_compra'] = pd.to_datetime(dados['data_ultima_compra'], errors='coerce')

C:\Users\felip\AppData\Local\Temp\ipykernel_2252\31561837.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dados['data_ultima_compra'] = pd.to_datetime(dados['data_ultima_compra'], errors='coerce')

In [41]:
dados['data_ultima_compra']

0       2024-09-30
1              NaT
2              NaT
3              NaT
4              NaT
           ...
49995   2024-05-18
49996          NaT
49997   2024-03-30
49998          NaT
49999          NaT
Name: data_ultima_compra, Length: 44582, dtype: datetime64[ns]

## Salário

In [42]:
dados['salario'] = pd.to_numeric(dados['salario'], errors='coerce')

In [43]:
dados['salario']

0            NaN
1            NaN
2        12030.0
3        12038.0
4        14659.0
          ...
49995    14123.0
49996        NaN
49997    12129.0
49998     7103.0
49999    11028.0
Name: salario, Length: 44582, dtype: float64

## Status conta

In [44]:
dados['status_conta'].unique()

array(['Suspenso', 'Ativo', 'A', 'Inativo', 'Bloqueado', '1',
       'verdadeiro', 'Sim', nan, 'ATIVO', 'ativo', 'Ativa', 'S'],
      dtype=object)

In [45]:
status_map = {
    # Categoria 'Ativo'
    'ativo': 'Ativo',
    'ativa': 'Ativo',
    'a': 'Ativo',
    '1': 'Ativo',
    'sim': 'Ativo',
    's': 'Ativo',
    'verdadeiro': 'Ativo',

    # Categoria 'Inativo'
    'inativo': 'Inativo',

    # Categoria 'Suspenso'
    'suspenso': 'Suspenso',
    'bloqueado': 'Bloqueado' 
}

In [46]:
dados['status_conta'] = dados['status_conta'].str.lower().map(status_map)

In [47]:
dados['status_conta'].unique()

array(['Suspenso', 'Ativo', 'Inativo', 'Bloqueado', nan], dtype=object)

## Regional/zona

In [48]:
dados['Regional/Zona'].unique()

array(['norte', 'centro-oeste', 'Centro', 'Sul', 'Norte', 'Leste',
       'Oeste', 'SUL', nan], dtype=object)

In [49]:
# Dicionário para mapear os valores (já em minúsculas)
mapa_regioes = {
    'norte': 'Norte',
    'sul': 'Sul',
    'leste': 'Leste',
    'oeste': 'Oeste',
    'centro-oeste': 'Centro-Oeste',
    'centro': 'Centro-Oeste'
}

In [50]:
dados['Regional/Zona'] = dados['Regional/Zona'].str.lower().map(mapa_regioes)

In [51]:
dados['Regional/Zona'].unique()

array(['Norte', 'Centro-Oeste', 'Sul', 'Leste', 'Oeste', nan],
      dtype=object)

# Criando colunas auxiliares

In [52]:
dados['idoso'] = (dados['idade'] >= 60).astype(int)

In [53]:
dados.head()

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona,idoso
0,1,Ana Silva,ana.silva@yahoo.com,56.0,NaT,(85) 16400-0408,04397312,NaN,CE,NaN,Suspenso,852,Monitor,2024-09-30,4495.03,Ouro,Ativo,Norte,0
1,2,Carla Souza,NaN,69.0,1950-10-18,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,NaN,Ativo,517,Monitor,NaT,6751.27,Diamante,S,Centro-Oeste,1
2,3,Ana Costa,ana.costa@hotmail.com,46.0,NaT,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030.0,Ativo,428,TECLADO,NaT,6900.93,Ouro,N,Centro-Oeste,0
3,4,Mariana Santos,mariana.santos@bol.com.br,32.0,1976-06-08,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038.0,Inativo,662,Notebook,NaT,3743.36,Platina,N,Centro-Oeste,0
4,5,Maria Silva,maria.silva@hotmail.com,60.0,2001-03-19,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659.0,Bloqueado,375,CAMERA,NaT,9077.3,Ouro,N,Centro-Oeste,1

# Exportando dataset

In [54]:
dados.to_csv('..\..\Prontos')