# Integrantes: 
## Felipe Bochini & Gabriel Ferreira Furiato

In [54]:
import pandas as pd

In [55]:
dados = pd.read_csv('..\..\Dados\Raw\dataset_pratica_limpeza_dados.csv')

In [56]:
dados.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [57]:
dados.describe()

         ID Cliente    Unnamed: 16
count    52500.000000          0.0
mean     24995.334610          NaN
std      14418.824423          NaN
min          1.000000          NaN
25%      12514.750000          NaN
50%      24981.500000          NaN
75%      37470.250000          NaN
max      50000.000000          NaN

In [58]:
print(dados.dtypes)

  ID Cliente               int64
NOME COMPLETO!            object
E-mail@Principal          object
 idade                    object
Data de Nascimento#       object
Telefone/Celular          object
CEP (Código)              object
Endereço & Cidade         object
Estado-UF                 object
Salário (R$)              object
Status_da_Conta           object
Score de Crédito%         object
Produto Favorito*         object
Data da Última Compra     object
Valor Total Gasto         object
Categoria-Cliente         object
Unnamed: 16              float64
Obs: Comentários          object
Ativo? (S/N)              object
Regional/Zona             object
dtype: object

# Padronizando colunas

## Removendo coluna ID

In [59]:
dados.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [60]:
dados = dados.drop(columns=['ID Cliente', 'id'], errors='ignore')

In [61]:
dados.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

## Removendo colunas vazias

In [62]:
threshhold = 0.8

In [63]:
dados.isna().sum()

  ID Cliente                 0
NOME COMPLETO!               0
E-mail@Principal          7888
 idade                    2164
Data de Nascimento#       2575
Telefone/Celular          2097
CEP (Código)              2163
Endereço & Cidade         5220
Estado-UF                 1402
Salário (R$)              2073
Status_da_Conta           1046
Score de Crédito%         3039
Produto Favorito*         6230
Data da Última Compra     3346
Valor Total Gasto         2105
Categoria-Cliente         1162
Unnamed: 16              52500
Obs: Comentários         40034
Ativo? (S/N)              1096
Regional/Zona             2677
dtype: int64

In [64]:
dados = dados.dropna(axis=1, thresh=int(threshhold * len(dados)))

In [65]:
dados.isna().sum()

  ID Cliente                0
NOME COMPLETO!              0
E-mail@Principal         7888
 idade                   2164
Data de Nascimento#      2575
Telefone/Celular         2097
CEP (Código)             2163
Endereço & Cidade        5220
Estado-UF                1402
Salário (R$)             2073
Status_da_Conta          1046
Score de Crédito%        3039
Produto Favorito*        6230
Data da Última Compra    3346
Valor Total Gasto        2105
Categoria-Cliente        1162
Ativo? (S/N)             1096
Regional/Zona            2677
dtype: int64

## Alterando nome das colunas

In [66]:
dados.columns

Index(['  ID Cliente  ', 'NOME COMPLETO!', 'E-mail@Principal', ' idade ',
       'Data de Nascimento#', 'Telefone/Celular', 'CEP (Código)',
       'Endereço & Cidade', 'Estado-UF', 'Salário (R$)', 'Status_da_Conta',
       'Score de Crédito%', 'Produto Favorito*', 'Data da Última Compra',
       'Valor Total Gasto', 'Categoria-Cliente', 'Ativo? (S/N)',
       'Regional/Zona'],
      dtype='object')

In [67]:
dados = dados.rename(columns={
    '  ID Cliente  ': 'id',
    'NOME COMPLETO!': 'nome',
    'E-mail@Principal': 'email',
    ' idade ': 'idade',
    'Data de Nascimento#': 'data_nascimento',
    'Telefone/Celular': 'telefone',
    'CEP (Código)': 'cep',
    'Endereço & Cidade': 'endereco_cidade',
    'Estado-UF': 'estado_uf',
    'Salário (R$)': 'salario',
    'Status_da_Conta': 'status_conta',
    'Score de Crédito%': 'score_credito',
    'Produto Favorito*': 'produto_favorito',
    'Data da Última Compra': 'data_ultima_compra',
    'Valor Total Gasto': 'valor_total_gasto',
    'Categoria-Cliente': 'categoria_cliente',
    'Unnamed: 16': 'coluna_vazia',
    'Obs: Comentários': 'obs_comentarios',
    'Ativo? (S/N)': 'ativo'
})

In [68]:
dados.columns

Index(['id', 'nome', 'email', 'idade', 'data_nascimento', 'telefone', 'cep',
       'endereco_cidade', 'estado_uf', 'salario', 'status_conta',
       'score_credito', 'produto_favorito', 'data_ultima_compra',
       'valor_total_gasto', 'categoria_cliente', 'ativo', 'Regional/Zona'],
      dtype='object')

# Removendo duplicatas

In [69]:
dados.shape

(52500, 18)

In [70]:
dados.duplicated().sum()

2500

In [71]:
dados.drop_duplicates(inplace=True)

In [72]:
dados.shape

(50000, 18)

# Alterando tipos de dados

## Idade

In [73]:
dados['idade'].unique()

array(['56', '69', '46', '32', '60', '25', '78', 'Não informado', '38',
       '75', '36', '40', '28', '41', '70', '53', '57', nan, '20', '39',
       '19', '61', '47', '55', '-5', '77', '50', '29', '42', 'idoso',
       '66', '44', '76', '150', '59', '45', '33', '79', '64', '68', '72',
       '74', '54', '24', '26', '35', '21', '31', '67', '43', '37',
       '25 anos', '52', '34', '23', '71', '51', '27', '48', '65', '62',
       '58', '18', '22', '30', '49', 'menor de idade', '73', '63'],
      dtype=object)

In [74]:
# Converte para numérico, removendo strings e valores inválidos
dados['idade'] = pd.to_numeric(dados['idade'], errors='coerce')

# Remove linhas onde o valor ficou NaN (ou seja, não era número)
dados = dados.dropna(subset=['idade'])

In [75]:
dados['idade'].unique()

array([ 56.,  69.,  46.,  32.,  60.,  25.,  78.,  38.,  75.,  36.,  40.,
        28.,  41.,  70.,  53.,  57.,  20.,  39.,  19.,  61.,  47.,  55.,
        -5.,  77.,  50.,  29.,  42.,  66.,  44.,  76., 150.,  59.,  45.,
        33.,  79.,  64.,  68.,  72.,  74.,  54.,  24.,  26.,  35.,  21.,
        31.,  67.,  43.,  37.,  52.,  34.,  23.,  71.,  51.,  27.,  48.,
        65.,  62.,  58.,  18.,  22.,  30.,  49.,  73.,  63.])

## Nome completo

In [76]:
dados['nome'] = dados['nome'].str.lower()

In [77]:
dados['nome'].unique()

array(['ana silva', 'carla souza', 'ana costa', ..., 'juliana   oliveira',
       'sr. fernando ribeiro', '  andré lima  '], dtype=object)

In [78]:
mask = dados['nome'].str.contains(r"[!@#$%¨&*\(\)_\-\+=\{\}\[\]/\\|;:'<>,\.?~^`´]", regex=True)

In [79]:
dados[mask]

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona
61,62,sr. pedro ferreira,sr..pedro.ferreira@hotmail.com,72.0,10/08/1962,11999999999,58169648,"Rua da Paz, 176 - Fortaleza",GO,14092,Ativo,NaN,Smartwatch,NaN,NaN,Ouro,S,NaN
78,79,sr. mariana santos,sr..mariana.santos@uol.com.br,75.0,12/09/1986,11 47736-0103,14216774,"Rua Central, 249 - Belo Horizonte",SP,4197,Suspenso,433,Monitor,03-04-2024,7714.69,Platina,S,norte
157,158,sr. lucia costa,sr..lucia.costa@uol.com.br,41.0,12/12/1957,(31) 82403-2255,62729278,"Rua Principal, 943 - Manaus",SP,11989,Suspenso,513,Camera,NaN,2725.55,Ouro,S,Centro
491,492,sr. rafael gomes,sr..rafael.gomes@bol.com.br,63.0,01/03/1987,47948994908,56320-416,"Rua da Paz, 923 - Salvador",AM,NaN,Inativo,542,Monitor,2024-12-07,8304.09,Diamante,S,Centro
556,557,sr. cristina lima,sr..cristina.lima@uol.com.br,48.0,09/10/1963,(21) 10679-8304,06446-610,NaN,PA,7682,Bloqueado,800,Mouse,07/07/2024,8677.15,Prata,S,Oeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49392,49393,sr. joão ribeiro,sr..joão.ribeiro@uol.com.br,33.0,09/23/1954,(47) 81855-6915,03014-894,NaN,PA,11984,Inativo,NaN,Camera,28/04/2024,5284.87,Diamante,N,SUL
49413,49414,sr. mariana souza,sr..mariana.souza@yahoo.com,45.0,02/22/1951,31 59331-8208,53661-388,NaN,MG,2760,Suspenso,NaN,Fone de Ouvido,07-27-2024,1656.18,Bronze,S,centro-oeste
49680,49681,sr. andré rodrigues,sr..andré.rodrigues@bol.com.br,76.0,03/22/2003,47 38621-6129,24998869,NaN,CE,3687,Inativo,Alto,Camera,08-30-2024,8357.2,Ouro,N,centro-oeste
49745,49746,sr. claudia silva,sr..claudia.silva@yahoo.com,43.0,05/20/1985,(31) 71375-4016,30724-545,NaN,SP,13319,Inativo,342,Notebook,2024-10-27,5863.46,Prata,N,Leste
49961,49962,sr. paulo santos,espacos@email.com,18.0,02/20/1978,31 47824-0836,54496142,"Rua Central, 499 - Fortaleza",PR,10738,Suspenso,547,Tablet,17/01/2024,5232.36,NaN,1,centro-oeste

In [80]:
dados = dados[~mask]

In [81]:
dados['nome'].unique()

array(['ana silva', 'carla souza', 'ana costa', ..., 'rafael costa123',
       'juliana   oliveira', '  andré lima  '], dtype=object)

In [82]:
# método simples
dados['nome'].str.title()

0             Ana Silva
1           Carla Souza
2             Ana Costa
3        Mariana Santos
4           Maria Silva
              ...
49995     Rafael Santos
49996      Pedro Santos
49997       Lucia Souza
49998     Juliana Silva
49999      Lucia Santos
Name: nome, Length: 44582, dtype: object

In [83]:
dados[dados['nome'].str.contains('de')]

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona
94,95,maria de gomes,maria.de.gomes@gmail.com,64.0,04/22/1959,85 95980-0629,01191-063,"Rua Central, 434 - Fortaleza",PE,NaN,Suspenso,Alto,Fone de Ouvido,07-24-2024,8313.64,Platina,N,Sul
117,118,joão de santos,joão.de.santos@outlook.com,51.0,03/18/1960,NaN,NaN,"Rua Central, 584 - Recife",CE,14405,Bloqueado,880,Monitor,16/05/2024,8722.35,NaN,S,NaN
125,126,lucia de alves,lucia.de.alves@uol.com.br,25.0,09/14/1953,21931412788,123456,"Rua das Flores, 15 - Fortaleza",PR,9090,Inativo,753,NaN,NaN,5367.38,Diamante,N,Norte
258,259,fernando de pereira,fernando.de.pereira@outlook.com,45.0,06/12/1961,NaN,17797-141,"Rua das Flores, 500 - Goiânia",PA,3886,Bloqueado,Alto,Teclado,20/10/2024,6775.19,Prata,NaN,SUL
284,285,rafael de silva,rafael.de.silva@uol.com.br,44.0,07/12/1974,21202998128,44344151,"Rua das Flores, 999 - Recife",SP,5934,Inativo,637,NaN,11-15-2024,5155.21,Bronze,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49762,49763,fernanda de oliveira,fernanda.de.oliveira@gmail.com,64.0,01/01/1981,47 71524-9779,40767337,NaN,PE,5453,Bloqueado,705,TV - Produto,19/09/2024,5240.4,Platina,S,norte
49781,49782,joão de lima,NaN,70.0,07/10/1964,(21) 55798-5304,31298204,"Rua da Paz, 9 - Goiânia",RJ,5762,Ativo,662,Smartphone,04-13-2024,4050.12,Bronze,S,SUL
49805,49806,bruno de oliveira,bruno.de.oliveira@bol.com.br,33.0,04/18/1988,21 11591-3485,55203-169,"Rua Central, 18 - Recife",AM,Não informado,Inativo,336,NaN,Data inválida,"R$ 1.250,50",Ouro,S,centro-oeste
49854,49855,cristina de gomes,cristina.de.gomes@uol.com.br,60.0,32/13/1980,(21) 65375-9636,00286757,"Rua Principal, 539 - Guarulhos",AM,5203,Suspenso,654,Camera,03/11/2024,4629.68,Platina,S,SUL
49951,49952,juliana de alves,juliana.de.alves@yahoo.com,54.0,06/04/1963,(31) 15951-3404,44422689,"Rua das Flores, 169 - Rio de Janeiro",RS,14674,Bloqueado,844,Tablet,Data inválida,329.61,Diamante,Inativo,Norte

In [84]:
# Método complexo para ignorar palavras como 'de', do', etc

# Definindo palavras para ignorar
PARTICULAS_A_IGNORAR = ['de', 'do', 'da', 'dos', 'das', 'e']


def capitalizar_nome(nome):
    nome = str(nome).strip()

    nome_capitalizado = nome.title()

    palavras = nome_capitalizado.split(' ')

    resultado = []

    for i, palavra in enumerate(palavras):
        if palavra.lower() in PARTICULAS_A_IGNORAR and i > 0:
            resultado.append(palavra.lower())
        else:
            resultado.append(palavra)
        
    return ' '.join(resultado)

In [85]:
dados['nome'] = dados['nome'].apply(capitalizar_nome)

In [86]:
dados[dados['nome'].str.contains(' de ')]

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona
94,95,Maria de Gomes,maria.de.gomes@gmail.com,64.0,04/22/1959,85 95980-0629,01191-063,"Rua Central, 434 - Fortaleza",PE,NaN,Suspenso,Alto,Fone de Ouvido,07-24-2024,8313.64,Platina,N,Sul
117,118,João de Santos,joão.de.santos@outlook.com,51.0,03/18/1960,NaN,NaN,"Rua Central, 584 - Recife",CE,14405,Bloqueado,880,Monitor,16/05/2024,8722.35,NaN,S,NaN
125,126,Lucia de Alves,lucia.de.alves@uol.com.br,25.0,09/14/1953,21931412788,123456,"Rua das Flores, 15 - Fortaleza",PR,9090,Inativo,753,NaN,NaN,5367.38,Diamante,N,Norte
258,259,Fernando de Pereira,fernando.de.pereira@outlook.com,45.0,06/12/1961,NaN,17797-141,"Rua das Flores, 500 - Goiânia",PA,3886,Bloqueado,Alto,Teclado,20/10/2024,6775.19,Prata,NaN,SUL
284,285,Rafael de Silva,rafael.de.silva@uol.com.br,44.0,07/12/1974,21202998128,44344151,"Rua das Flores, 999 - Recife",SP,5934,Inativo,637,NaN,11-15-2024,5155.21,Bronze,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49762,49763,Fernanda de Oliveira,fernanda.de.oliveira@gmail.com,64.0,01/01/1981,47 71524-9779,40767337,NaN,PE,5453,Bloqueado,705,TV - Produto,19/09/2024,5240.4,Platina,S,norte
49781,49782,João de Lima,NaN,70.0,07/10/1964,(21) 55798-5304,31298204,"Rua da Paz, 9 - Goiânia",RJ,5762,Ativo,662,Smartphone,04-13-2024,4050.12,Bronze,S,SUL
49805,49806,Bruno de Oliveira,bruno.de.oliveira@bol.com.br,33.0,04/18/1988,21 11591-3485,55203-169,"Rua Central, 18 - Recife",AM,Não informado,Inativo,336,NaN,Data inválida,"R$ 1.250,50",Ouro,S,centro-oeste
49854,49855,Cristina de Gomes,cristina.de.gomes@uol.com.br,60.0,32/13/1980,(21) 65375-9636,00286757,"Rua Principal, 539 - Guarulhos",AM,5203,Suspenso,654,Camera,03/11/2024,4629.68,Platina,S,SUL
49951,49952,Juliana de Alves,juliana.de.alves@yahoo.com,54.0,06/04/1963,(31) 15951-3404,44422689,"Rua das Flores, 169 - Rio de Janeiro",RS,14674,Bloqueado,844,Tablet,Data inválida,329.61,Diamante,Inativo,Norte

In [87]:
dados.head()

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56.0,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,Ativo,norte
1,2,Carla Souza,NaN,69.0,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46.0,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32.0,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,N,Centro
4,5,Maria Silva,maria.silva@hotmail.com,60.0,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,N,Centro

## Email

In [88]:
dados['email'].str.strip()

0              ana.silva@yahoo.com
1                              NaN
2            ana.costa@hotmail.com
3        mariana.santos@bol.com.br
4          maria.silva@hotmail.com
                   ...
49995                          NaN
49996       pedro.santos@gmail.com
49997        lucia.souza@yahoo.com
49998      juliana.silva@yahoo.com
49999     lucia.santos@hotmail.com
Name: email, Length: 44582, dtype: object

In [89]:
dados['email'].isnull()

0        False
1         True
2        False
3        False
4        False
         ...
49995     True
49996    False
49997    False
49998    False
49999    False
Name: email, Length: 44582, dtype: bool

## Data de nascimento

In [90]:
dados['data_nascimento'] = pd.to_datetime(dados['data_nascimento'], errors='coerce')

C:\Users\felip\AppData\Local\Temp\ipykernel_20720\3066177099.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dados['data_nascimento'] = pd.to_datetime(dados['data_nascimento'], errors='coerce')

In [91]:
dados['data_nascimento'].unique()

<DatetimeArray>
[                'NaT', '1950-10-18 00:00:00', '1976-06-08 00:00:00',
 '2001-03-19 00:00:00', '2000-02-17 00:00:00', '2002-05-20 00:00:00',
 '1952-12-03 00:00:00', '1983-05-04 00:00:00', '1988-03-07 00:00:00',
 '1981-06-18 00:00:00',
 ...
 '1985-02-26 00:00:00', '1989-07-12 00:00:00', '1961-03-19 00:00:00',
 '1963-06-26 00:00:00', '1990-04-22 00:00:00', '1998-09-11 00:00:00',
 '1961-05-16 00:00:00', '1974-07-18 00:00:00', '1989-12-27 00:00:00',
 '1994-11-16 00:00:00']
Length: 15810, dtype: datetime64[ns]

## Data última compra

In [92]:
dados['data_ultima_compra']

0            30/09/2024
1            2024-09-13
2            03-13-2024
3            04-06-2024
4            01-27-2024
              ...
49995        18/05/2024
49996    Há muito tempo
49997        30/03/2024
49998        2024-08-11
49999        07-24-2024
Name: data_ultima_compra, Length: 44582, dtype: object

In [93]:
dados['data_ultima_compra'] = pd.to_datetime(dados['data_ultima_compra'], errors='coerce')

C:\Users\felip\AppData\Local\Temp\ipykernel_20720\31561837.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dados['data_ultima_compra'] = pd.to_datetime(dados['data_ultima_compra'], errors='coerce')

In [94]:
dados['data_ultima_compra']

0       2024-09-30
1              NaT
2              NaT
3              NaT
4              NaT
           ...
49995   2024-05-18
49996          NaT
49997   2024-03-30
49998          NaT
49999          NaT
Name: data_ultima_compra, Length: 44582, dtype: datetime64[ns]

## Salário

In [95]:
dados['salario'] = pd.to_numeric(dados['salario'], errors='coerce')

In [96]:
dados['salario']

0            NaN
1            NaN
2        12030.0
3        12038.0
4        14659.0
          ...
49995    14123.0
49996        NaN
49997    12129.0
49998     7103.0
49999    11028.0
Name: salario, Length: 44582, dtype: float64

## Status conta

In [97]:
dados['status_conta'].unique()

array(['Suspenso', 'Ativo', 'A', 'Inativo', 'Bloqueado', '1',
       'verdadeiro', 'Sim', nan, 'ATIVO', 'ativo', 'Ativa', 'S'],
      dtype=object)

In [98]:
status_map = {
    # Categoria 'Ativo'
    'ativo': 'Ativo',
    'ativa': 'Ativo',
    'a': 'Ativo',
    '1': 'Ativo',
    'sim': 'Ativo',
    's': 'Ativo',
    'verdadeiro': 'Ativo',

    # Categoria 'Inativo'
    'inativo': 'Inativo',

    # Categoria 'Suspenso'
    'suspenso': 'Suspenso',
    'bloqueado': 'Bloqueado' 
}

In [99]:
dados['status_conta'] = dados['status_conta'].str.lower().map(status_map)

In [100]:
dados['status_conta'].unique()

array(['Suspenso', 'Ativo', 'Inativo', 'Bloqueado', nan], dtype=object)

## Regional/zona

In [101]:
dados['Regional/Zona'].unique()

array(['norte', 'centro-oeste', 'Centro', 'Sul', 'Norte', 'Leste',
       'Oeste', 'SUL', nan], dtype=object)

In [102]:
# Dicionário para mapear os valores (já em minúsculas)
mapa_regioes = {
    'norte': 'Norte',
    'sul': 'Sul',
    'leste': 'Leste',
    'oeste': 'Oeste',
    'centro-oeste': 'Centro-Oeste',
    'centro': 'Centro-Oeste'
}

In [103]:
dados['Regional/Zona'] = dados['Regional/Zona'].str.lower().map(mapa_regioes)

In [104]:
dados['Regional/Zona'].unique()

array(['Norte', 'Centro-Oeste', 'Sul', 'Leste', 'Oeste', nan],
      dtype=object)

# Criando colunas auxiliares

In [105]:
dados['idoso'] = (dados['idade'] >= 60).astype(int)

In [106]:
dados.head()

,id,nome,email,idade,data_nascimento,telefone,cep,endereco_cidade,estado_uf,salario,status_conta,score_credito,produto_favorito,data_ultima_compra,valor_total_gasto,categoria_cliente,ativo,Regional/Zona,idoso
0,1,Ana Silva,ana.silva@yahoo.com,56.0,NaT,(85) 16400-0408,04397312,NaN,CE,NaN,Suspenso,852,Monitor,2024-09-30,4495.03,Ouro,Ativo,Norte,0
1,2,Carla Souza,NaN,69.0,1950-10-18,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,NaN,Ativo,517,Monitor,NaT,6751.27,Diamante,S,Centro-Oeste,1
2,3,Ana Costa,ana.costa@hotmail.com,46.0,NaT,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030.0,Ativo,428,TECLADO,NaT,6900.93,Ouro,N,Centro-Oeste,0
3,4,Mariana Santos,mariana.santos@bol.com.br,32.0,1976-06-08,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038.0,Inativo,662,Notebook,NaT,3743.36,Platina,N,Centro-Oeste,0
4,5,Maria Silva,maria.silva@hotmail.com,60.0,2001-03-19,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659.0,Bloqueado,375,CAMERA,NaT,9077.3,Ouro,N,Centro-Oeste,1

# Exportando dataset

In [112]:
dados.to_csv('..\..\Prontos')